/* Ubuntu font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* .ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
} */


/* src/styles/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.navLinkItem, .logo {
  color: #D71A19;
}

.CTA, .Login-Btn, .Signout-Btn {
  background-color: #D71A19;
}

.CTA:hover, .Login-Btn:hover, .Signout-Btn:hover{
  -webkit-animation:scale-down-center .4s cubic-bezier(.25,.46,.45,.94) both;animation:scale-down-center .4s cubic-bezier(.25,.46,.45,.94) both;
}

@-webkit-keyframes scale-down-center{0%{-webkit-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(.5);transform:scale(.5)}}@keyframes scale-down-center{0%{-webkit-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(.5);transform:scale(.8)}}


.products, .navBar {
  background-color: #FEFFF9;
}

.form input, .form textarea {
  background-color: #FEFFF9;
}

/* Image overlay hover animation */
.overlay {
  transition: opacity 1s ease;
}

.overlay:hover {
  opacity: 0.5; 
}

.footer, .Bar {
  background-color: #8D8686;
}

.scale-up-tr {
	-webkit-animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}


/* RESPONSIVENESS */

@media only screen and (max-width: 1030px) {

  .MenuIcon {
    display: block;
  }

  .navBar .desktoplink {
    display: none;
  }

  .bannerWrapper {
    gap: 20px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .featuredImage {
    width: 350px;
    height: 350px;
    /* display: none; */
  }

  .sideText p {
    font-size: 1.5rem ;
    line-height: 1.25rem; 
}

}



@media only screen and (max-width: 900px) {


  .productItems {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "p1 p2" 
    "p3 p4"
    "p5 p6";
  }

  .p1 {
    grid-area: 'p1';
  }
  .p2 {
    grid-area: 'p2';
  }
  .p3 {
    grid-area: 'p3';
  }
  .p4 {
    grid-area: 'p4';
  }
  .p5 {
    grid-area: 'p5';
  }
  .p6 {
    grid-area: 'p6';
  }


.sideText p {
    font-size: 1.2rem ;
    line-height: 1rem; 
}

.sideText button {
  padding-left: 30px;
  padding-right: 30px;
}
.productItems p {
  font-size: 1rem;
}

.services {
  padding-left: 0;
  padding-right: 0;
}

.serviceItems P {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1rem;
}
}

@media only screen and (max-width: 750px) {

  .navBar {
    padding-left: 48px;
    padding-right: 48px;
    
  }

  .MenuIcon {
    flex-grow: 1;
    margin-left: 50px;
  }

  .bannerWrapper, .serviceItems {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .sideText {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .sideText p {
    font-size: 1.5rem ;
    line-height: 1rem; 
  }

  .banner {
    height: fit-content;
  }

  .services, .productItems {
    padding-left: 0%;
    padding-right: 0%;
  }

  .productItems {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "p1" 
    "p2"
    "p3"
    "p4"
    "p5"
    "p6";
    padding-left: 48px;
    padding-right: 48px;
  }

  #About div p {
    width: 100%
  }

  .form {
    justify-content: center;
  }

  .form input, .form textarea {
    text-align: center;
  }

  .footer div p {
    text-align: center;
  }

  #Contact {
    padding-left: 48px;
    padding-right: 48px;
  }


}

@media only screen and (max-width: 500px) {

  .featuredImage {
    width: 300px;
    height: 300px;
    /* display: none; */
  }

  .sideText p {
    font-size: 1rem ;
    line-height: 1rem; 
}

.CTAText {
  font-size: 0.8rem;
}

#About div p {
  padding-left: 18px;
  padding-right: 18px;
}

}